* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-color: rgb(21, 21, 163);
    --bg-aqua: rgb(89, 175, 190);
    --basic-black: black;
    --white-text: white;
    --black-text: black;
    --button-color-hover: rgb(43, 88, 193);
    --border-grey: lightgrey;
    --check-color: rgb(43, 88, 193);
    --grey-text: lightgrey;
    --grey-bg: lightgrey;
    --bg-designit: #A2D39B;
    --bg-arizona: #61082b;
    --bg-florida: #0093ce;
    --bg-topps: #ff1c1c;
    --bg-bicycle: #d500d5;
    --bg-hearst: #b4d0eb;
    --bg-lonely: #0D2481;
    --bg-clear: #ffd830;
    --banner-text: #61082b;
    --bg-banner: #b4d0eb;
}

header {
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

body {
    margin-top: 8vh;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header img {
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

header a {
    margin-right: 0.5rem;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    color: var(--black-text);
}

header a:hover {
    border-bottom: 1px solid var(--basic-black);
    cursor: pointer;
}

header button {
    vertical-align: middle;
    border-radius: 0.2rem;
    border-width: 0rem;
    appearance: none;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: var(--white-text);
    background-color: var(--button-color);
}

header button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    transition: 0.5s;
}

main {
    font-family: 'Open Sans', sans-serif;
    
}

.bg_aqua {
    background-color: var(--bg-aqua);
    height: 650px;
    margin-bottom: 3rem;
}

main h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.pad_top {
    padding-top: 2rem;
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_4 p {
    margin-bottom: 2rem;
}

.col_4 button {
    vertical-align: middle;
    border-radius: 0.2rem;
    border-width: 0rem;
    appearance: none;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: var(--white-text);
    background-color: var(--button-color);
    margin-bottom: 2rem;
}

.col_4 button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    transition: 0.5s;
}

#arrow {
    font-size: 3rem;
    font-weight: thick;
    background-color: var(--bg-aqua);
    color: var(--black-text);
    margin-top: 3rem;
}

.content {
    width: 80%;
    margin: auto;
}

.content h2 {
    margin-bottom: 1.5rem;
}

.radio {
    margin-bottom: 3rem;
}

.input {
    margin-right: 1rem;
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.plan {
    gap: 1.5rem;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-bottom: 3rem;
}

.single_user {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-grey);
}

.description {
    padding: 1rem;
    position: relative;
}

.description:after {
    content: '';
    width: 40px;
    height: 1px;
    background: var(--border-grey);
    position: absolute;
    bottom: -5px;
}

.col_title {
    margin-bottom: 1rem;
}

.price {
    margin-bottom: 1rem;
}

.payment_time {
    color: var(--grey-text);
    margin-bottom: 2rem;
}

.line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.plan_detail i {
    width: 1rem;
    margin-right: 0.5rem;
}

.plan button {
    width: 100%;
    border-radius: 0.2rem;
    border-width: 0rem;
    appearance: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--white-text);
    background-color: var(--button-color);
    margin: 1rem 0 2rem 0;
}

.col_3 button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    transition: 0.5s;
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.plan_detail .col_9 {
    font-size: 0.9rem;
}

.recap {
    padding: 1rem;
    padding-top: 2rem;
}

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.recap h4 {
    margin-bottom: 2rem;
}

.recap .line {
    margin-bottom: 1rem;
}

.fa-check {
    color: var(--check-color);
}

.plan .col_4 {
    border: 1px solid var(--border-grey);
}

.dtl_enterprise {
    border: 1px solid var(--border-grey);
    margin-bottom: 3rem;
}

.dtl_enterprise button {
    border-radius: 0.2rem;
    border-width: 0rem;
    appearance: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--white-text);
    background-color: var(--button-color);
}

.dtl_enterprise button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    transition: 0.5s;
}

.dtl_enterprise .row {
    padding: 1.5rem;
}

.dtl_enterprise h3, .dtl_enterprise p {
    margin-bottom: 1rem;
}

.dtl_enterprise h4 {
    margin-bottom: 3rem;
}

.partner {
    margin-bottom: 4rem;
}

.partner_info {
    padding-left: 2rem;
    padding-top: 2rem;
}

.partner_info h3, .partner_info p {
    margin-bottom: 2rem;
}

.partner_info button {
    border-width: 1px;
    appearance: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: var(--black-text);
    border-radius: 0.1rem;
}

.partner_info button:hover {
    background-color: var(--basic-black);
    color: var(--white-text);
    transition: 0.5s;
}

.wrap {
    flex-wrap: wrap;
}

.wrap .col_4 {
    padding: 1rem;
}

.wrap h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#about_clients {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
}

#about_clients h2 {
    margin-bottom: 2rem;
}

.logos_flex {
    display: flex;
}

.partner_logos_left, .designit_central, .partner_logos_right {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% / 12) * 4);
}

.box {
    width: calc((100% / 12) * 6);
    position: relative;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%; 
}

.box img {
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    filter: invert();
    transform: translate(-50%, -50%);
}

.design {
    background-color: var(--bg-designit);
    border: 10px solid var(--bg-hearst);
}

.arizona {
    background-color: var(--bg-arizona);
}

.florida {
    background-color: var(--bg-florida);
}

.topps {
    background-color: var(--bg-topps);
}

.designit_central {
    padding: 1rem;
    background-color: var(--grey-bg);
    font-family: 'Open Sans', sans-serif;
}

.designit_logo {
    height: max-content;
    margin-bottom: 1rem;
    position: relative;
    top: 10%;
}

.designit_logo:after {
    content: '';
    width: 40px;
    height: 1px;
    background: var(--basic-black);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.designit_logo img {
    width: 12rem;
}


.designit_central p {
    margin-bottom: 1rem;
}

.bicycle {
    background-color: var(--bg-bicycle);
}

.hearst {
    background-color: var(--bg-hearst);
}

.lonely {
    background-color: var(--bg-lonely);
}

.clear {
    background-color: var(--bg-clear);
}

.banner {
    background-color: var(--bg-banner);
    font-family: 'Open Sans', sans-serif;
    padding: 5rem;
    margin-bottom: 10rem;
}

.banner h2 {
    color: var(--banner-text);
    font-size: 24px;
}

.banner button {
    border-width: 1px;
    appearance: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: var(--black-text);
    border-radius: 0.1rem;
}

.banner button:hover {
    background-color: var(--basic-black);
    color: var(--white-text);
    transition: 0.5s;
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.ban {
    justify-content: space-between;
}

.faq {
    margin-bottom: 10rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.faq h3 {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--border-grey);
    font-size: 24px;
}

.questions {
    justify-content: space-between;
    border-bottom: 2px solid var(--border-grey);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.faq button {
    border-width: 0rem;
    appearance: none;
    background-color: transparent;
}

.faq button:hover {
    cursor: pointer;
    color: var(--button-color-hover);
    transition: 0.5s;
}

.hidden_answer{
    display: none;
    margin-top: 2rem;
}
    
.defbutton:focus + .hidden_answer{
    display: block;
}

p ~ .hidbutton:focus {
    display: none;
}



